In [103]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

### Analysis is for Alameda County, CA

This data was collected from https://www.ncei.noaa.gov/access/monitoring/climate-at-a-glance/county/time-series/CA-001/

In [10]:
avg_temp = pd.read_csv("avgtemp_alameda_ca_1895-2022.csv", skiprows=4)
max_temp = pd.read_csv("maxtemp_alameda_ca_1895-2022.csv", skiprows=4)
min_temp = pd.read_csv("mintemp_alameda_ca_1895-2022.csv", skiprows=4)
precipitation = pd.read_csv("precipitation_alameda_ca_1895-2022.csv", skiprows=4)
heatingdegreedays = pd.read_csv("heatingdegreedays_alameda_ca_1895-2022.csv", skiprows=4)
coolingdegreedays = pd.read_csv("coolingdegreedays_alameda_ca_1895-2022.csv", skiprows=4)

In [19]:
print(avg_temp.shape, max_temp.shape, min_temp.shape, precipitation.shape,
      heatingdegreedays.shape, coolingdegreedays.shape)

(127, 3) (127, 3) (127, 3) (127, 3) (127, 3) (127, 3)

In [20]:
print(avg_temp.isnull().sum(), max_temp.isnull().sum(), min_temp.isnull().sum(),
      precipitation.isnull().sum(), heatingdegreedays.isnull().sum(),
      coolingdegreedays.isnull().sum())

Date       0
Value      0
Anomaly    0
dtype: int64 Date       0
Value      0
Anomaly    0
dtype: int64 Date       0
Value      0
Anomaly    0
dtype: int64 Date       0
Value      0
Anomaly    0
dtype: int64 Date       0
Value      0
Anomaly    0
dtype: int64 Date       0
Value      0
Anomaly    0
dtype: int64

The first 4 digits denote the year in date. Last two digits (12) denote that the data is aggregated annually

In [22]:
avg_temp.head()

     Date  Value  Anomaly
0  189512   56.6     -1.3
1  189612   57.5     -0.4
2  189712   56.6     -1.3
3  189812   57.3     -0.6
4  189912   57.3     -0.6

In [35]:
avg_temp.tail()

       Date  Value  Anomaly
122  201712   60.5      2.6
123  201812   59.8      1.9
124  201912   59.7      1.8
125  202012   61.7      3.8
126  202112   60.0      2.1

### Residential electricity consumption data 

The data was fetched from https://ecdms.energy.ca.gov/elecbycounty.aspx

In [82]:
electricity_consumption = pd.read_excel("ElectricityByCounty_alameda_ca.xlsx")

In [83]:
electricity_consumption

,County,Sector,2021,2020,2019,2018,2017,2016,2015,2014,...,1998,1997,1996,1995,1994,1993,1992,1991,1990,Total Usage
0,ALAMEDA,Residential,3308.25946,3308.467553,3015.393947,2948.368675,2995.051965,2920.921179,2897.493974,2894.253363,...,2791.331173,2674.834394,2615.308775,2548.457958,2774.566317,2529.229286,2465.000074,2515.20997,2498.265626,92070.19114

In [84]:
electricity_consumption = electricity_consumption.transpose()

In [85]:
electricity_consumption

                       0
County           ALAMEDA
Sector       Residential
2021          3308.25946
2020         3308.467553
2019         3015.393947
2018         2948.368675
2017         2995.051965
2016         2920.921179
2015         2897.493974
2014         2894.253363
2013         2986.226437
2012         2999.683662
2011         3024.848218
2010         3021.677436
2009         3016.750714
2008         2996.423893
2007         2971.909026
2006         3118.292069
2005         3025.275108
2004         2897.838896
2003         2937.121764
2002         2811.630947
2001         2745.213966
2000          2926.11798
1999         2890.767335
1998         2791.331173
1997         2674.834394
1996         2615.308775
1995         2548.457958
1994         2774.566317
1993         2529.229286
1992         2465.000074
1991          2515.20997
1990         2498.265626
Total Usage  92070.19114

In [86]:
electricity_consumption.drop(['County', 'Sector', 'Total Usage'], inplace=True)

In [87]:
electricity_consumption

                0
2021   3308.25946
2020  3308.467553
2019  3015.393947
2018  2948.368675
2017  2995.051965
2016  2920.921179
2015  2897.493974
2014  2894.253363
2013  2986.226437
2012  2999.683662
2011  3024.848218
2010  3021.677436
2009  3016.750714
2008  2996.423893
2007  2971.909026
2006  3118.292069
2005  3025.275108
2004  2897.838896
2003  2937.121764
2002  2811.630947
2001  2745.213966
2000   2926.11798
1999  2890.767335
1998  2791.331173
1997  2674.834394
1996  2615.308775
1995  2548.457958
1994  2774.566317
1993  2529.229286
1992  2465.000074
1991   2515.20997
1990  2498.265626

In [88]:
type(electricity_consumption)

pandas.core.frame.DataFrame

In [89]:
electricity_consumption.shape

(32, 1)

In [90]:
electricity_consumption[0][::-1]

1990    2498.265626
1991     2515.20997
1992    2465.000074
1993    2529.229286
1994    2774.566317
1995    2548.457958
1996    2615.308775
1997    2674.834394
1998    2791.331173
1999    2890.767335
2000     2926.11798
2001    2745.213966
2002    2811.630947
2003    2937.121764
2004    2897.838896
2005    3025.275108
2006    3118.292069
2007    2971.909026
2008    2996.423893
2009    3016.750714
2010    3021.677436
2011    3024.848218
2012    2999.683662
2013    2986.226437
2014    2894.253363
2015    2897.493974
2016    2920.921179
2017    2995.051965
2018    2948.368675
2019    3015.393947
2020    3308.467553
2021     3308.25946
Name: 0, dtype: object

In [91]:
electricity_consumption = electricity_consumption[0][::-1]

In [96]:
electricity_consumption

1990    2498.265626
1991     2515.20997
1992    2465.000074
1993    2529.229286
1994    2774.566317
1995    2548.457958
1996    2615.308775
1997    2674.834394
1998    2791.331173
1999    2890.767335
2000     2926.11798
2001    2745.213966
2002    2811.630947
2003    2937.121764
2004    2897.838896
2005    3025.275108
2006    3118.292069
2007    2971.909026
2008    2996.423893
2009    3016.750714
2010    3021.677436
2011    3024.848218
2012    2999.683662
2013    2986.226437
2014    2894.253363
2015    2897.493974
2016    2920.921179
2017    2995.051965
2018    2948.368675
2019    3015.393947
2020    3308.467553
2021     3308.25946
Name: 0, dtype: object

Currently unable to find annual data for reservior levels, historical electricity pricing, and Temperature condition index (TCI) in each county. While I can find the daily water levels for each reservoir, I am unaware of any way to find which reservior lies in/serves which county.

## Merging the data

In [93]:
# Retain only the last 32 rows. We only have electricity data from 1990 to 2021.

new_avg_temp = avg_temp[-32:]
new_max_temp = max_temp[-32:]
new_min_temp = min_temp[-32:]
new_precipitation = precipitation[-32:]
new_heatingdegreedays = heatingdegreedays[-32:]
new_coolingdegreedays = coolingdegreedays[-32:]

new_avg_temp.Date = new_avg_temp.Date//100
new_max_temp.Date = new_max_temp.Date//100
new_min_temp.Date = new_min_temp.Date//100
new_precipitation.Date = new_precipitation.Date//100
new_heatingdegreedays.Date = new_heatingdegreedays.Date//100
new_coolingdegreedays.Date = new_coolingdegreedays.Date//100

new_avg_temp.set_index('Date', inplace=True)
new_max_temp.set_index('Date', inplace=True)
new_min_temp.set_index('Date', inplace=True)
new_precipitation.set_index('Date', inplace=True)
new_heatingdegreedays.set_index('Date', inplace=True)
new_coolingdegreedays.set_index('Date', inplace=True)

C:\Users\kj\AppData\Local\Temp\ipykernel_19956\2537070882.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_avg_temp.Date = new_avg_temp.Date//100
C:\Users\kj\AppData\Local\Temp\ipykernel_19956\2537070882.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_max_temp.Date = new_max_temp.Date//100
C:\Users\kj\AppData\Local\Temp\ipykernel_19956\2537070882.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_min_temp.Date = new_min_temp.Date//100
C:\Users\kj\AppData\Local\Temp\ipykernel_19956\2537070882.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_precipitation.Date = new_precipitation.Date//100
C:\Users\kj\AppData\Local\Temp\ipykernel_19956\2537070882.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_heatingdegreedays.Date = new_heatingdegreedays.Date//100
C:\Users\kj\AppData\Local\Temp\ipykernel_19956\2537070882.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_coolingdegreedays.Date = new_coolingdegreedays.Date//100

In [147]:
new_data_anomaly = pd.concat([electricity_consumption, 
                              new_max_temp.Value, new_max_temp.Anomaly,
                              new_min_temp.Value, new_min_temp.Anomaly,
                              new_avg_temp.Value, new_avg_temp.Anomaly,
                              new_precipitation.Value, new_precipitation.Anomaly,
                              new_heatingdegreedays.Value, new_heatingdegreedays.Anomaly,
                              new_coolingdegreedays.Value, new_coolingdegreedays.Anomaly],
                             keys=['electricity_consumption',
                                   'max_temp_val','max_temp_anomaly',
                                   'min_temp_val','min_temp_anomaly',
                                   'avg_temp_val','avg_temp_anomaly',
                                   'precipitation_val','precipitation_anomaly',
                                   'heatingdegreedays_val','heatingdegreedays_anomaly',
                                   'coolingdegreedays_val','coolingdegreedays_anomaly'],
                             axis=1)

In [136]:
new_data = pd.concat([electricity_consumption, 
                      new_max_temp.Value, #new_max_temp.Anomaly,
                      new_min_temp.Value, #new_min_temp.Anomaly,
                      new_avg_temp.Value, #new_avg_temp.Anomaly,
                      new_precipitation.Value, #new_precipitation.Anomaly,
                      new_heatingdegreedays.Value, #new_heatingdegreedays.Anomaly,
                      new_coolingdegreedays.Value], #new_coolingdegreedays.Anomaly,],
                     keys=['electricity_consumption',
                           'max_temp_val',# 'max_temp_anomaly',
                           'min_temp_val',# 'min_temp_anomaly',
                           'avg_temp_val',# 'avg_temp_anomaly',
                           'precipitation_val',# 'precipitation_anomaly',
                           'heatingdegreedays_val',# 'heatingdegreedays_anomaly',
                           'coolingdegreedays_val'],# 'coolingdegreedays_anomaly'],
                     axis=1)

In [137]:
new_data

,electricity_consumption,max_temp_val,min_temp_val,avg_temp_val,precipitation_val,heatingdegreedays_val,coolingdegreedays_val
1990,2498.265626,69.6,47.8,58.7,11.82,2938,681
1991,2515.20997,69.1,47.9,58.5,16.02,2899,532
1992,2465.000074,70.5,49.8,60.2,19.72,2517,774
1993,2529.229286,69.2,48.8,59.0,23.79,2796,621
1994,2774.566317,68.2,47.2,57.7,16.71,3126,493
1995,2548.457958,69.6,50.2,59.9,27.68,2476,628
1996,2615.308775,70.8,49.9,60.4,28.63,2402,725
1997,2674.834394,70.7,49.9,60.4,18.37,2428,751
1998,2791.331173,67.3,48.6,58.0,31.87,3137,580
1999,2890.767335,68.6,47.6,58.1,15.68,2993,482
2000,2926.11798,69.2,48.8,59.0,21.69,2716,555
2001,2745.213966,70.3,48.8,59.6,22.27,2647,688
2002,2811.630947,69.8,48.1,59.0,18.34,2776,594
2003,2937.121764,70.1,49.3,59.7,16.43,2685,771
2004,2897.838896,69.9,49.2,59.6,18.35,2611,652
2005,3025.275108,69.5,49.3,59.4,24.52,2640,600
2006,3118.292069,69.5,48.5,59.0,21.35,2883,702
2007,2971.909026,69.8,48.0,58.9,11.57,2770,561
2008,2996.423893,70.1,48.1,59.1,14.18,2810,682
2009,3016.750714,69.7,48.3,59.0,17.32,2819,663
2010,3021.677436,68.2,48.3,58.3,23.17,2911,465
2011,3024.848218,68.4,47.4,57.9,14.53,3079,518
2012,2999.683662,70.3,48.2,59.3,20.78,2663,587
2013,2986.226437,70.8,48.2,59.5,5.08,2657,656
2014,2894.253363,72.8,51.1,62.0,19.88,1954,864
2015,2897.493974,71.9,50.2,61.0,10.39,2314,885
2016,2920.921179,70.8,49.9,60.4,22.55,2346,663
2017,2995.051965,71.2,49.8,60.5,24.97,2493,868
2018,2948.368675,70.7,48.9,59.8,16.57,2534,651
2019,3015.393947,70.0,49.3,59.7,22.29,2642,728
2020,3308.467553,72.9,50.6,61.7,8.42,2306,1134
2021,3308.25946,71.0,49.0,60.0,17.96,2590,783

In [138]:
new_data.columns

Index(['electricity_consumption', 'max_temp_val', 'min_temp_val',
       'avg_temp_val', 'precipitation_val', 'heatingdegreedays_val',
       'coolingdegreedays_val'],
      dtype='object')

In [139]:
x = new_data.loc[:, new_data.columns != 'electricity_consumption']
y = new_data.electricity_consumption

In [140]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [149]:
x_anomaly = new_data_anomaly.loc[:, new_data_anomaly.columns != 'electricity_consumption']
y_anomaly = new_data_anomaly.electricity_consumption

In [150]:
x_train_anomaly, x_test_anomaly, y_train_anomaly, y_test_anomaly = train_test_split(
    x_anomaly, y_anomaly, test_size=0.33, random_state=42)

In [141]:
lr_model = LinearRegression()
lr_model.fit(x_train, y_train)

LinearRegression()

In [142]:
lr_model.score(x_test, y_test)

-0.7961366868980684

In [143]:
from sklearn.svm import SVR

svr_model = SVR()
svr_model.fit(x_train, y_train)
svr_model.score(x_test, y_test)

-0.04308388563878607

In [151]:
from sklearn.svm import SVR

svr_model = SVR()
svr_model.fit(x_train_anomaly, y_train_anomaly)
svr_model.score(x_test_anomaly, y_test_anomaly)

-0.043649357785894294

In [145]:
from sklearn.tree import DecisionTreeRegressor

dtr_model = DecisionTreeRegressor()
dtr_model.fit(x_train, y_train)
dtr_model.score(x_test, y_test)

-1.1717804956230125

In [152]:
from sklearn.tree import DecisionTreeRegressor

dtr_model = DecisionTreeRegressor()
dtr_model.fit(x_train_anomaly, y_train_anomaly)
dtr_model.score(x_test_anomaly, y_test_anomaly)

-1.1043320338706946